@import url('https://fonts.googleapis.com/css?family=Bangers');

header{
  background-color: rgba(51, 39, 30, .85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px;
}

.logo{
  height: 60px;
  width: auto;
}


.title{
  font-size: 54px;
  font-family: 'Bangers', cursive;
  color: $purple;
}

.user-email{
  font-weight: bold;
    position: relative;
    font-size: 18px;
    top: -15px;
    right: -25px;
    text-transform: uppercase;
}
