
<section class="main-content flex-container">
  <section class="left-content flex-container col col-5 hr-bottom">
    <section class="col col-2">
      <h2 class"italic"><a class="underline-hover">Launching the New React/Redux Curriculum</a></h2>

      <div class="by-line">
        By APP ACADEMY INSTRUCTIONAL TEAM
      </div>
      <ul class="article-bullets">
        <li>
          <p>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</p>
        </li>
        <li>
          <p>The whole state of your app is stored in an object tree inside a single store.
          The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</p>
        </li>
      </ul>
      <a class="underline-hover">
        <aside class="comments">
          1738 Comments
        </aside>
      </a>
    </section>
    <section class="col col-3">
      <div class="video-wrapper">
        <iframe class="video" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
      </div>
      <figcaption>
        <p>Warning: This video will make you want to change your career</p>
      </figcaption>
      <hr class="hr-small"/>
      <h4><a class="underline-hover">Where Are They Now?</a></h4>
      <div class="by-line">By APP ACADEMY ALUMNI</div>
      First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.
      <hr class="hr-small"/>
      <h4><a class="underline-hover">Cat Academy</a></h4>
      <div class="by-line">By APP ACADEMY DIRECTOR OF PRODUCTS</div>
      App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
    </section>
  </section>
  <section class="right-content col col-3 hr-bottom">
    <div class="section-title">
      <h4>The Opinion Pages</h4>
    </div>
    <section class="flex-container">
      <section class="col col-6">
        <div class="subsection-title">Op-Ed Contributor</div>
        <h4><a class="underline-hover">Will Javascript ever be as easy as Ruby?</a></h4>
        <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
        <ul class="article-list">
          <li><div>Torvalds: When I Was Almost Wrong</div></li>
          <li><div>Knuth: Art of Programming</div></li>
          <li><div>Lovelace: The First Algorithm</div></li>
          <li><div>Hopper: The First Bug</div></li>
          <li><div>Thompson: Go C Unix</div></li>
          <li><div>Carmack: My Virtual Reality</div></li>
          <li><div>Stallman: Free Speech Not Free Coffee</div></li>
        </ul>
      </section>
      <section class="col col-6">
        <div class="subsection-title">Operations</div>
        <h4><a class="underline-hover">App Academy New York Has A Brand New Office</a></h4>
        <div class="by-line"> By NY OPERATIONS </div>

        <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
        <figure class="thumbnail">
          <img src="assets/new_office.jpg"/>
        </figure>
      </section>
    </section>
    <h4>Opinion Today, in your Inbox</h4>
    <p>Each weekday, get though-provoking commentary from our columnists and contributors.</p>
    <div class="signup-bar">
      <input type="text" class="lg-input" placeholder="Get the Opinion newsletter by email">
      <button class="signup-btn">Sign up</button>
    </div>
    <div class="small-text center">We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</div>
  </section>
</section>
