<section id="sections-sidebar" class="menu">
  <ul class="top-menu">
    <li class="top-level-item ">
       San Francisco
       <ul class="submenu menu">
        <li class="menu-title">San Francisco</li>
        <li>Students</li>
        <li>TeachingAssistants</li>
        <li>Instructors</li>
        <li>Career Advisors</li>
        <li>Cats</li>
      </ul>
    </li>

    <li class="top-level-item">
      Bootcamp Prep
      <ul class="submenu menu">
        <li>Students</li>
        <li>Instructors</li>
        <li>Cats</li>
      </ul>
    </li>

    <li class="top-level-item">
      Online
      <ul class="submenu menu">
        <li>Immersive</li>
        <li>Bootcamp Prep</li>
        <li>Cats</li>
      </ul>
    </li>

    <li class="top-level-item">
      Sales
      <ul class="submenu menu">
        <li>Associates</li>
        <li>Analytics</li>
        <li>Cats</li>
      </ul>
    </li>

    <li class="top-level-item">
      Alumni
      <ul class="submenu menu">
        <li>Students</li>
        <li>Companies</li>
        <li>Opinions</li>
        <li>Cats</li>
      </ul>
    </li>
  </ul>
</section>
