
.flex-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

.col {
  margin-right: 20px;
  padding: 10px 0;
}

/* Attribute selector targeting all elements
with a class attribute containing 'col-' */


.col-1{
  flex: 1;
}

.col-2{
  flex: 2;
}

.col-3{
  flex: 3;
}

.col-4{
  flex: 4;
}

.col-5{
  flex: 5;
}

.col-6{
  flex: 6;
}

[class*='col-']:last-of-type {
  margin-right: 0px;
}

@media all and (max-width: 1000px) {

  .flex-container{
    flex-direction: column;
  }
}
