/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 80%;
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
}
a{
	cursor: pointer;
}
h2{
		font-weight: 700;
		font-size: 25px;
		margin-bottom: 5px;
}

h4{
	font-weight: 700;
	font-size: 13px;
	margin: 2px;
}

.small-text{
	font-size: 10px;
	color: $dark-gray;
}

.italic{
	font-style: italic;
}

.center{
	text-align: center;
}

.hr-small{
	width: 65%
}

.underline-hover:hover{
	text-decoration: underline;
}

@media all and (max-width: 1000px) {
  .hidden-small{
    display: none;
  }
}

button {
	background-color: $blue;
	border-color: $dark-blue;
	color: #fff;
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 3px;
	transition: .2s background-color;
	font-family: arial, helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
}

button:hover {
	background-color: $dark-blue;
	border-color: $darkest-blue;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-bottom {
	width: 100%;
	margin: 0;
	border-bottom: 4px double $gray;
}

.hr-top {
	width: 100%;
	margin: 0;
	border-top: 4px double $gray;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}
