<% if type == :register %>
  <% action = users_url %>
<% else %>
  <% action = session_url %>
<% end %>


<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li> <%= error %> </li>
    <% end %>
  </ul>
<% end %>
<form class="form" action='<%=action%>' method="post">
  <%= authenticity_token %>
    <label>Email:</label>
    <input type="text" name="user[email]" placeholder="user@example.com">
    <label>Password:</label>
    <input type="password" name="user[password]">
  <% submit_text = (type == :register) ? 'Register' : 'Sign In' %>
  <input type="submit" value=" <%=submit_text%> ">
</form>
